<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.ruoyi.department.mapper.EqmsgMapper">


    <insert id="addEqDevice">
    insert into eq_device(device_no,device_name,device_type,model,serial_number,manufacturer,location,department,install_date,warranty_expiration,status,asset_value,lifespan_years,responsible_person,remarks)
values(#{deviceNo},#{deviceName},#{deviceType},#{model},#{serialNumber},#{manufacturer},#{location},#{department},#{installDate},#{warrantyExpiration},#{status},#{assetValue},#{lifespanYears},#{responsiblePerson},#{remarks})
    </insert>
</mapper>
